/* style.css */
body {
    background-color: #1f1f1f; /* Cor de fundo cinza */
  }
.cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; /* Adicionado para centralizar os cards horizontalmente */
    margin-top: 100px; /* Adicionado espaçamento superior */
  }
  
  .cards .card {
    background-color: #000000;
    padding: 30px 40px;
    width: 600px;
    border-radius: 7px;
    margin-top: 20px; /* Reduzido o espaçamento superior */
    margin-bottom: 20px; /* Adicionado espaçamento inferior */
  }
  
  .card header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .card header h2 {
    font-family: Noto Sans;
    font-weight: 700;
    color: #ffffff;
    font-size: 1.7rem;
  }
  
  .line {
    background-color: #3e445b;
    height: 2px;
  }
  
  p {
    margin-top: 20px;
    font-size: 1.2rem;
    max-width: 500px;
    font-family: Noto Sans;
    font-weight: 500;
    color: #b3bacf;
  }
  

  
  .btn-edit button {
    background-color: #00b3ff;
  }
  
  .btn-more button {
    background-color: #66ff00;
  }
  
  .btn-delete button {
    background-color: rgb(255, 0, 0);
  }
  
  .btns {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Adicionado para centralizar verticalmente */
    margin-top: 20px; /* Adicionado espaçamento superior */
    margin-bottom: 20px; /* Adicionado espaçamento inferior */
    padding: 0 20px;
    flex-wrap: wrap; /* Adicionado para quebrar linha quando necessário */
  }
  
  .btns button {
    color: rgba(255, 255, 255, 0.938);
    font-size: 1.3rem;
    border: 0;
    border-radius: 10px;
    font-family: Heebo;
    font-weight: 700;
    cursor: pointer;
    padding: 5px 20px;
    margin: 5px; /* Adicionado espaçamento entre os botões */
  }
