/* style.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e0e0e0;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px; /* Define a altura da imagem */
    width: auto; /* Preserva a proporção da imagem */
    margin-right: 10px;
}

.text {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.button-container {
    display: flex;
    align-items: center;
}

.announce-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.announce-button:hover {
    background-color: #0056b3;
}
